* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  display: flex;
  background-color: #e5e5e5;
}

div {
  display: block;
  border: 1px solid black;
}

.main-content {
  display: flex;
  flex-basis: 80%;
  flex-direction: column;
}

/*  SIDE BAR   */

.sidebar {
  height: 100%;
  flex-basis: 256px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.sidebar-profile-pic {
  max-width: 46px;
  max-height: 46px;
  border-radius: 50%;
}

.sidebar1 {
  flex-basis: 60px;
}
.sidebar2 {
  flex: 0.2;
  display: flex;
  justify-content: center;
}
.sidebar2-content {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.sidebar-menu-items {
  align-items: center;
  justify-content: center;
  display: flex;
}

.side-bar-list {
  list-style: none;
}

.sidebar3 {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard-icon {
  list-style-image: url("/images/dashboard_icon.svg");
}
.task-icon {
  list-style-image: url("/images/tasks_icon.svg");
}
.email-icon {
  list-style-image: url("/images/email_icon.svg");
}
.contacts-icon {
  list-style-image: url("/images/contacts_icon.svg");
}
.chats-icon {
  list-style-image: url("/images/chat_icon.svg");
}
.deals-icon {
  list-style-image: url("/images/deals_icon.svg");
}

/*--------------------*/

/*--SEARCH BAR ------ */

.search-bar {
  flex-basis: 60px;
  color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

/*-----------------------*/

.content-container {
  flex: 1;
  display: flex;
}

.dashboard {
  flex: 1;
  display: flex;
}

/*    LEFT SIDE       */

.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 24px;
  margin-right: 0px;
  background-color: white;
}

.dashboard {
  display: flex;
  flex-direction: column;
}

.left-side-top {
  flex-direction: column;
  display: flex;
  flex: 0.4;
}

.calendar {
  display: flex;
  flex-direction: column;
}

.calendar-bottom {
  display: flex;
  justify-content: center;
}

.calendar-list-ul {
  display: flex;
  justify-content: space-around;
  flex: 1;
  align-items: center;
}

.calendar-list-li {
  color: brown;
  display: inline;
}

.left-side-bottom {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.task-card {
  display: flex;
  flex: 1;
}

.task-card-interior {
  display: flex;
  flex: 1;
  margin: 4%;
}

.author-pic {
  max-width: 24px;
  max-height: 24px;
  border-radius: 50%;
}

.card-left {
  flex-direction: column;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.card-right {
  display: flex;
  flex: 1;
}

.show-more {
  display: flex;
  justify-content: center;
}

/* RIGHT SIDE  */

.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 24px;
}

/* GRAPH CARD */

.graph-card {
  margin-bottom: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.deals-title {
  justify-content: space-between;
  align-items: center;
  color: blueviolet;
  flex: 1;
  display: flex;
}
.closed-deals {
  flex: 1;
  display: flex;
  align-items: center;
}

.graph-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------*/

/* ----CIRCLE GRAPH--------*/

.circle-graph-card {
  margin-top: 10px;
  flex: 1px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.tasks-title-graph {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0.4;
}

.circle-graph-lower-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.circle-graph-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.circle-graph-list {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-----------------------------*/
/*



light blue / highlighted text

#109CF1

font Open Sans title

font poppins for everything else

#334D6E

greens for bars
#2ED47A




*/
