* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Poppins";
}

body {
  display: flex;
  background-color: #e5e5e5;
}

div {
  display: block;
}

p {
  font-size: 11px;
  color: #90a0b7;
}

.dash-size {
  font-size: 13px;
  padding: 5px;
}

.blue-highlight {
  color: #109cf1;
}

.main-content {
  display: flex;
  flex-basis: 80%;
  flex-direction: column;
}

/*  SIDE BAR   */

.sidebar {
  height: 100%;
  flex-basis: 256px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
}

.sidebar-profile-pic {
  max-width: 46px;
  max-height: 46px;
  border-radius: 50%;
}

.name-and-email {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 20px;
}

.sidebar1 {
  display: flex;
  flex-basis: 60px;
  font-family: "Open Sans";
  align-items: center;
  padding-left: 10%;
  color: #109cf1;
  border-bottom: 1px solid #ebeff2;
}
.sidebar2 {
  flex: 0.2;
  display: flex;
  justify-content: center;
  padding: 5%;
}
.sidebar2-content {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.sidebar-menu-items {
  align-items: center;
  justify-content: center;
  display: flex;
  border-bottom: 1px solid #ebeff2;
}

.side-bar-list {
  list-style: none;
  padding-bottom: 5%;
}

.sidebar3 {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5%;
}

.dashboard-icon {
  list-style-image: url("/images/dashboard_icon.svg");
}
.task-icon {
  list-style-image: url("/images/tasks_icon.svg");
}
.email-icon {
  list-style-image: url("/images/email_icon.svg");
}
.contacts-icon {
  list-style-image: url("/images/contacts_icon.svg");
}
.chats-icon {
  list-style-image: url("/images/chat_icon.svg");
}
.deals-icon {
  list-style-image: url("/images/deals_icon.svg");
}

.settings-icon {
  list-style-image: url("/images/dotdotdot_icon.svg");
}

.triangle-icon {
  list-style-image: url("/images/Polygon.svg");
}

/*--------------------*/

/*--SEARCH BAR ------ */

.search-bar {
  flex-basis: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  
}

.search {
  display: flex;
  flex: 1;
  padding-left: 2%;
}

.text-input-field {
  outline: white;
  border: none;
}

.alert-section {
  display: flex;
  flex: 0.1;
  justify-content: end;
  padding-right: 3%;
}

/*-----------------------*/

.content-container {
  flex: 1;
  display: flex;
}

.dashboard {
  flex: 1;
  display: flex;
}

/*    LEFT SIDE       */

.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 24px;
  margin-right: 0px;
  background-color: white;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.left-side-top-title {
  display: flex;
  flex: 0.3;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.dashboard {
  display: flex;
  flex-direction: column;
}

.left-side-top {
  flex-direction: column;
  display: flex;
  flex: 0.4;
  padding: 4%;
}

.show-this-time {
  display: flex;
  flex: 0.3;
  font-size: 12px;
  justify-content: end;
}

.clickable {
  cursor: pointer;
}

.calendar {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
}

.calendar-bottom {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: flex-end;
}

.calendar-list-ul {
  display: flex;
  justify-content: space-around;
  flex: 1;
  align-items: center;
}

.calendar-list-li {
  display: inline;
}

li p:hover{
  color: #109cf1;
}

.left-side-bottom {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.task-card {
  display: flex;
  flex: 1;
}

.task-card-interior {
  display: flex;
  flex: 1;
  margin: 4%;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.14);
}

.author-pic {
  max-width: 24px;
  max-height: 24px;
  border-radius: 50%;
}

.card-left {
  flex-direction: column;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.card-right {
  display: flex;
  flex: 1;
}

.show-more {
  display: flex;
  justify-content: center;
}

/* RIGHT SIDE  */

.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 24px;
}

/* GRAPH CARD */

.graph-card {
  margin-bottom: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  padding: 5%;
}
.deals-title {
  justify-content: space-between;
  align-items: center;
  color: #192a3e;
  flex: 1;
  display: flex;
  border-bottom: 1px solid #ebeff2;
  padding-bottom: 8px;
  margin-bottom: 20px;
  font-style: normal;
}
.closed-deals {
  flex: 1;
  display: flex;
  align-items: center;
}

.graph-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------*/

.image-resize {
  max-width: 400px;
  max-height: 225px;
}

/* ----CIRCLE GRAPH--------*/

.circle-graph-card {
  margin-top: 10px;
  flex: 1px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  padding: 5%;
}

.tasks-title-graph {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0.4;
  border-bottom: 1px solid #ebeff2;
  padding-bottom: 8px;
  margin-bottom: 20px;
}

.grey-border {
  width: 100%;
}

.circle-graph-lower-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.circle-graph-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.circle-graph-list {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---------CSS Shapes------------*/

.dot-red {
  height: 8px;
  width: 8px;
  background-color: #f7685b;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  right: 7px;
}
.dot-blue {
  height: 24px;
  width: 24px;
  background-color: #109cf1;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  left: 10px;
  top: 48px;
  z-index: 0;
}

.z-hack {
  z-index: 2;
}

.progress-bar {
  height: 4px;
  max-width: 587px;
  background-color: #ebeff2;
  display: inline-block;
}

#progressbar {
  background-color: #ebeff2;

  /* (height of inner div) / 2 + padding */
  padding: 1px;
  border-radius: 2px;
}

#progressbar > div {
  background-color: #2ed47a;
  width: 80%;
  /* Adjust with JavaScript */
  height: 4px;
  border-radius: 2px;
}

.divider {
  width: 5px;
  height: auto;
  display: inline-block;
}
